# **Filtering and Sorting Data ([Exercise](https://github.com/guipsamora/pandas_exercises/blob/master/02_Filtering_%26_Sorting/Euro12/Exercises.ipynb))**

**Step 1. Import the necessary libraries**

In [42]:
import pandas as pd

**Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv)**

In [2]:
!wget https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv

--2020-10-21 00:53:38--  https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2319 (2.3K) [text/plain]
Saving to: ‘Euro_2012_stats_TEAM.csv’

Euro_2012_stats_TEA 100%[===================>]   2.26K  --.-KB/s    in 0s

2020-10-21 00:53:39 (47.6 MB/s) - ‘Euro_2012_stats_TEAM.csv’ saved [2319/2319]

**Step 3. Assign it to a variable called euro12**

In [44]:
euro12=pd.read_csv('Euro_2012_stats_TEAM.csv', sep=',')

#Extra
euro12.head()

             Team  Goals  Shots on target  ...  Subs on Subs off Players Used
0         Croatia      4               13  ...        9        9           16
1  Czech Republic      4               13  ...       11       11           19
2         Denmark      4               10  ...        7        7           15
3         England      5               11  ...       11       11           16
4          France      3               22  ...       11       11           19

[5 rows x 35 columns]

**Step 4. Select only the Goal column**

In [13]:
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

**Step 5. How many team participated in the Euro2012?**

In [22]:
euro12['Team'].nunique()

16

**Step 6. What is the number of columns in the dataset?**

In [34]:
euro12.shape[1]

35

**Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline**

In [37]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

**Step 8. Sort the teams by Red Cards, then to Yellow Cards**

In [38]:
discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

**Step 9. Calculate the mean Yellow Cards given per Team¶**

In [45]:
discipline['Yellow Cards'].mean()

7.4375

**Step 10. Filter teams that scored more than 6 goals**

In [41]:
euro12[euro12['Goals']>6]['Team']

5     Germany
13      Spain
Name: Team, dtype: object